* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.3rem;
}

h4,
h5 {
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.headStore {
  background: #0487D9;
}

.logo {
  flex: 1 1 20rem;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  min-height: 8vh;
  display: flex;
  align-items: center;
  color: white;
}

.navStore {
  width: 90%;
  margin: auto;
  display: flex;
}

.divLogoStore,
.navLinkStore {
  min-height: 8vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 1 1 10rem;
}
.divLogoStore li a,
.navLinkStore li a {
  color: white;
  font-family: "Otomanopee One", sans-serif;
}
.divLogoStore li a:hover,
.navLinkStore li a:hover {
  border-bottom: white 0.2rem solid;
}

.navLinkStore {
  flex: 1 1 60rem;
}

.introSection {
  -webkit-animation: load2 2s ease-in-out;
          animation: load2 2s ease-in-out;
}

.intro {
  min-height: 92vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../asset/img/introPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.divTitle {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.divTitle h1,
.divTitle h2,
.divTitle button {
  padding: 3rem 0rem;
}
.divTitle h1,
.divTitle h2 {
  text-shadow: 5px 5px 6px black;
}
.divTitle .btnIntro {
  margin-top: 8rem;
  border: none;
  background-color: #6cd1f0;
  color: white;
  padding: 1rem;
  width: 25rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 0.7rem;
  text-align: center;
}
.divTitle .btnIntro:hover {
  cursor: pointer;
  color: #588a99;
  background-color: white;
  font-size: 3.5rem;
  padding: 1.5rem;
  width: 28rem;
}

.aboutUs {
  min-height: 100vh;
  background: url("../asset/img/aboutUs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
}

.aboutUsText {
  background-color: #628699;
  padding: 5rem;
  color: #FFFEE0;
  border-radius: 1.2rem;
  text-align: center;
  width: 30%;
  margin: auto;
}

.contactUs {
  min-height: 100vh;
  background: url("../asset/img/contactUs1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContactUs {
  margin-top: 15rem;
  background-color: rgba(15, 23, 35, 0.4);
  padding: 5rem;
  border-radius: 1.2rem;
}
.formContactUs .diviForm {
  display: flex;
  color: white;
}
.formContactUs .diviForm .divLabels,
.formContactUs .diviForm .divText {
  display: flex;
  flex-direction: column;
  flex: 1 1 10rem;
}
.formContactUs label,
.formContactUs input,
.formContactUs .btnContactUsForm {
  margin: 0.9rem;
}
.formContactUs .txtInput {
  border: none;
  border-radius: 0.6rem;
  padding: 0rem 1rem;
}
.formContactUs .btnContactUsForm {
  border: none;
  border-radius: 0.6rem;
  margin-top: 3rem;
  width: 95%;
  padding: 0.9rem;
  background: #628699;
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.7s ease;
}
.formContactUs .btnContactUsForm:hover {
  background: white;
  color: #628699;
}

.secStore {
  width: 85%;
  margin: auto;
  height: 92vh;
}

.divBigModal {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
}

.divBuscarStore {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divBuscarStore h3 {
  font-family: "Otomanopee One", sans-serif;
  margin-top: 5rem;
}
.divBuscarStore .txtBuscarStore {
  margin: 3rem 0rem;
  width: 70rem;
  border-radius: 0.7rem;
  padding: 0.7rem 2rem;
}

.divProductsCards {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.divCards {
  margin: 10rem;
  flex: 0 1 22rem;
  height: 37rem;
  border: #F26513 0.2rem solid;
  padding: 1rem;
  border-radius: 0.8rem;
  margin: 1.5rem;
}
.divCards img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.divCards .cardPic {
  min-height: 20rem;
}
.divCards .cardContent {
  text-align: center;
}
.divCards .cardContent #precioCardProduct {
  color: red;
}
.divCards .cardContent h1 {
  font-size: 1.6rem;
}
.divCards .cardContent h3 {
  font-size: 2rem;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.divCards .cardContent h4 {
  color: green;
  font-size: 1.5rem;
}
.divCards .cardContent .btnDetalleStore {
  border: none;
  border-radius: 0.5rem;
  background-color: #568C63;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  width: 15rem;
  height: 3.2rem;
}
.divCards .cardContent h1,
.divCards .cardContent h3,
.divCards .cardContent h4,
.divCards .cardContent .btnDetalleStore {
  margin-top: 0.5rem;
}
.divCards .cardContent h4 {
  margin-bottom: 2rem;
}

.loadDiv {
  position: absolute;
  top: 35rem;
  right: 50%;
  transform: translate(50%, 0%);
}

.divLbl {
  margin: auto;
  width: 80%;
  text-align: center;
  height: auto;
  background-color: #df4242;
  color: white;
  border-radius: 0.8rem;
  padding: 0.5rem 0rem;
  display: none;
}

.divModal {
  border: 1px solid black;
  padding: 5rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  height: 50rem;
  width: 70rem;
}
.divModal .titleModal {
  text-align: center;
}
.divModal .titleModal h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.divModal .divContent {
  display: flex;
}
.divModal .divContent .imgModal {
  flex: 1 1 20rem;
  margin: 1rem;
}
.divModal .divContent .imgModal img {
  height: 100%;
  width: 100%;
}
.divModal .divContent .infoModal {
  margin: 1rem;
  flex: 2 1 20rem;
}
.divModal .divContent .infoModal h1 {
  color: red;
}
.divModal .divContent .infoModal h2 {
  font-size: 2rem;
  color: green;
}
.divModal .divContent .infoModal p {
  font-size: 2.2rem;
}
.divModal .divContent .infoModal .btnModal {
  width: 100%;
  border: none;
  background-color: #9867bb;
  color: white;
  padding: 1rem;
  border-radius: 0.7rem;
  text-align: center;
  cursor: pointer;
}
.divModal .divContent .infoModal h1,
.divModal .divContent .infoModal h2,
.divModal .divContent .infoModal p,
.divModal .divContent .infoModal .btnModal {
  margin-bottom: 1.5rem;
}
.divModal .closeBTN {
  float: right;
  font-size: 6rem;
  font-weight: 1400;
  cursor: pointer;
}

.newProducts {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.divTitle2 {
  margin-top: 4rem;
}

.newProductTitle {
  text-shadow: 0px;
  font-size: 3rem;
  color: black;
}

.divForm {
  width: 40%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.divForm label {
  flex: 1 1 5rem;
}
.divForm input {
  flex: 3 1 10rem;
}
.divForm input {
  padding: 0.2rem 1rem;
  font-size: 2rem;
}

.divName,
.divPrecio,
.divFile,
.divCantidad {
  margin: 2rem;
  display: flex;
}

.btnNewProducts {
  margin-top: 2rem;
  border: none;
  background-color: #66bbec;
  width: 100%;
  height: 4rem;
  padding: 0.7rem;
  color: white;
  border-radius: 0.8rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.btnNewProducts:hover {
  background-color: #2d98d6;
}

.divNotify {
  color: #f8f3e2;
  height: 8rem;
  width: 30%;
  margin: auto;
  position: fixed;
  right: 50%;
  transform: translate(50%, 0%);
  bottom: -20%;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  transition: all 0.9s ease;
}

.enableNotify {
  bottom: 20%;
}

.divValidateForm {
  background-color: #e75858;
  padding: 1rem 3rem;
  color: white;
  margin-top: 1.5rem;
  border-radius: 0.7rem;
  display: none;
}
.divValidateForm li {
  margin: 0.5rem;
  list-style: disc;
  list-style-position: inside;
  font-size: 2rem;
}

.loadDiv2 {
  width: 3%;
  position: absolute;
  top: 56rem;
  right: 50%;
  transform: translate(50%, 0%);
  display: none;
}
.loadDiv2 img {
  width: 100%;
}

@-webkit-keyframes fadeOutNotify {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutNotify {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.divNotFound {
  height: 92vh;
}

.imgDivNotFound {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1600px) {
  .enableNotify {
    bottom: 8%;
  }
}
@media screen and (max-width: 754px) {
  html {
    font-size: 42.4%;
  }

  .intro {
    display: flex;
    justify-content: center;
  }

  .divTitle {
    margin-top: 25%;
    width: 70%;
    text-align: center;
    display: flex;
  }
  .divTitle h1 {
    font-size: 2.8rem;
  }

  .divBurger {
    display: block;
  }

  .nav-open {
    transform: translate(-100%, 0%);
  }

  .toggle .burger1 {
    transform: rotateZ(45deg) translateY(350%);
  }

  .toggle .burger2 {
    opacity: 0;
  }

  .toggle .burger3 {
    transform: rotateZ(-45deg) translateY(-350%);
  }

  .aboutUsText {
    width: 70%;
    padding: 2rem;
  }

  .formContactUs {
    width: 90%;
    margin: auto;
    padding: 2rem;
  }
  .formContactUs input {
    width: 100%;
  }

  .secStore {
    width: 90%;
  }

  .navLinkStore {
    position: fixed;
    min-height: 93vh;
    width: 65%;
    background-color: #0487D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0rem;
    top: 7vh;
    left: 100%;
    transition: all 0.5s ease-in;
    border: none;
    padding: 10rem 5rem;
  }

  #txtBuscarStore {
    width: 70%;
    height: 5rem;
    padding: 1rem 1rem;
  }

  .divCards {
    flex: 0 1 20rem;
  }

  .divProductsCards {
    display: flex;
    justify-content: center;
  }

  .divBurger {
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .line1,
.line2,
.line3 {
    background-color: white;
    width: 4rem;
    height: 0.5rem;
    margin: 0.3rem;
    transition: all 0.5s ease-in;
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
  }

  .loadDiv {
    width: 30%;
    height: 30%;
  }
  .loadDiv img {
    width: 100%;
  }

  .divModal {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

  .divForm {
    width: 100%;
  }
  .divForm input {
    width: 50%;
  }

  .enableNotify {
    bottom: 30%;
  }

  .divNotify {
    width: 80%;
  }

  .divValidateForm {
    margin-top: 4rem;
  }
  .divValidateForm li {
    font-size: 2.5rem;
  }

  .loadDiv2 {
    width: 10%;
    top: 55%;
  }
}
@-webkit-keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes load2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes load2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */