<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Store</title>
    <meta name="description" content="Tienda de ventas de productos de tecnologia">
    <meta name="robots" content="index,follow">

    <link rel="stylesheet" href="./styles/style.css">
    <script defer src="./js/utils/notify.js"></script>
    <script src="./js/DataFunctions2.js"></script>
    <script defer src="./js/store.js"></script>


   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">  
   <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


</head>

<body> -->

<!-- NAV BAR -->
<!-- <header class="headStore">
        <nav class="navStore">
            <h1 class="logo">Tech Store</h1>
            <ul id="navLinkStore" class="navLinkStore">
                <li><a href="./index.html">INICIO</a></li>
                <li><a href="#secStore">PRODUCTOS</a></li>
                <li><a href="">CONTACTENOS</a></li>
            </ul>

            <div id="divBurger" class="divBurger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header> -->

<!-- STORE SECTION -->
<section class="secStore" name="secStore" id="secStore">

    <!-- <button class="btnModalTest" id="btnModalTest">click to see modal</button> -->

    <div id="divNotify" class="divNotify">
    </div>

    <div class="divBuscarStore">
        <h3>Buscar Producto</h3>
        <input type="text" class="txtBuscarStore" name="txtBuscarStore" id="txtBuscarStore">
    </div>


    <div id="divLbl" class="divLbl">
        <label id="lblNotify" class="lblNotify" for="">Servidor Inalcanzable</label>
    </div>

    <div id="divProductsCards" class="divProductsCards">
        <!-- CARD -->
        <!-- <div class="divCards">
                 <div class="cardPic">
                    <img id="imgCardProduct" src="./storePics/wacth1.jpg" alt="">
                </div>
                <div class="cardContent">
                    <h1 id="nombreCardProduct"></h1>
                    <h3 id="precioCardProduct"></h3>
                    <h4 id="disponibleCardProduct"></h4>
                    <button>ver detalle</button>
                </div> 
            </div> -->

    </div>

    <!-- MODAL -->
    <div id="divBigModal" class="divBigModal">

        <div class="divModal">
            <span class="closeBTN" id="closeBTN">&times;</span>
            <!-- MODAL TITLE -->
            <div class="titleModal">
                <h1 id="h1ModalTitle">Hello</h1>
            </div>
            <!-- MODAL CONTENT -->
            <div class="divContent">
                <div class="imgModal">
                    <img id="imgModal"
                        src="http://res.cloudinary.com/ddnzwfrmo/image/upload/v1628718854/a7k3axbqqfv0grfgc5ve.webp"
                        alt="">
                </div>
                <div class="infoModal">
                    <h1 id="h1ModalContentPrecio"> Precio: 4000</h1>
                    <h2 id="h2ModalContentCantidad">Displonible</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate sapiente dolor ab sit est
                        aperiam, quo incidunt recusandae officiis alias?</p>
                    <button class="btnModal">Contact US</button>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- </body>

</html> -->