// NAV BAR
.headIndex {
    background-color: #5E1742;
}

.navIndex {
    min-height: 8vh;
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1 1 20rem;
    font-family: 'Press Start 2P', cursive;
    font-size: $header4;
}



.nav-links {
    flex: 2 1 40rem;
    min-height: 8vh;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.nav-links li a {
    color: white;
    transition: all 0.9s ease;

    &:hover {
        border-bottom: white 1px solid;
    }
}

.burger1,
.burger2,
.burger3 {
    background-color: white;
    width: 3rem;
    height: 0.5rem;
    margin: 0.7rem;
    transition: all 0.5s;
}

.divBurger {
    display: none;
}

// INTRO SECTION

.intro {
    min-height: 92vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../img/introPic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.divTitle {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    h1,
    h2,
    button {
        padding: 3rem 0rem;
    }

    h1,
    h2 {
        text-shadow: 5px 5px 6px black;
    }

    .btnIntro {
        margin-top: 8rem;
        border: none;
        background-color: #6cd1f0;
        color: white;
        padding: 1rem;
        width: 25rem;
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        border-radius: 0.7rem;

        &:hover {
            cursor: pointer;
            color: #588a99;
            background-color: white;
            font-size: 3.5rem;
            padding: 1.5rem;
            width: 28rem;
        }

    }
}