.newProducts{
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTitle2{
    margin-top: 4rem;
}

.newProductTitle{
    text-shadow: 0px;
    font-size: 3rem;
    color: black;
}

.formNewProducts{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    
}

.divName,
.divPrecio,
.divFile{
    margin: 2rem;
    display: flex;
}

.btnNewProducts{
    margin-top: 2rem;
    border: none;
    background-color: rgb(102, 187, 236);
    width: 60%;
    height: 4rem;
    padding: 0.7rem;
    color: white;
    border-radius: 0.8rem;
}

label,input{
    flex: 1 3 10rem;
}