* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.3rem;
}

h4,
h5 {
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.headIndex {
  background-color: #5E1742;
}

.navIndex {
  min-height: 8vh;
  width: 90%;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
}

.logo {
  flex: 1 1 20rem;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
}

.nav-links {
  flex: 2 1 40rem;
  min-height: 8vh;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.nav-links li a {
  color: white;
  transition: all 0.9s ease;
}
.nav-links li a:hover {
  border-bottom: white 1px solid;
}

.burger1,
.burger2,
.burger3 {
  background-color: white;
  width: 3rem;
  height: 0.5rem;
  margin: 0.7rem;
  transition: all 0.5s;
}

.divBurger {
  display: none;
}

.intro {
  min-height: 92vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../img/introPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.divTitle {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.divTitle h1,
.divTitle h2,
.divTitle button {
  padding: 3rem 0rem;
}
.divTitle h1,
.divTitle h2 {
  text-shadow: 5px 5px 6px black;
}
.divTitle .btnIntro {
  margin-top: 8rem;
  border: none;
  background-color: #6cd1f0;
  color: white;
  padding: 1rem;
  width: 25rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 0.7rem;
}
.divTitle .btnIntro:hover {
  cursor: pointer;
  color: #588a99;
  background-color: white;
  font-size: 3.5rem;
  padding: 1.5rem;
  width: 28rem;
}

.aboutUs {
  min-height: 100vh;
  background: url("../img/aboutUs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
}

.aboutUsText {
  background-color: #628699;
  padding: 5rem;
  color: #FFFEE0;
  border-radius: 1.2rem;
  text-align: center;
  width: 30%;
  margin: auto;
}

.contactUs {
  min-height: 100vh;
  background: url("../img/contactUs1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContactUs {
  margin-top: 15rem;
  background-color: rgba(15, 23, 35, 0.4);
  padding: 5rem;
  border-radius: 1.2rem;
}
.formContactUs .diviForm {
  display: flex;
  color: white;
}
.formContactUs .diviForm .divLabels,
.formContactUs .diviForm .divText {
  display: flex;
  flex-direction: column;
  flex: 1 1 10rem;
}
.formContactUs label,
.formContactUs input,
.formContactUs .btnContactUsForm {
  margin: 0.9rem;
}
.formContactUs .txtInput {
  border: none;
  border-radius: 0.6rem;
  padding: 0rem 1rem;
}
.formContactUs .btnContactUsForm {
  border: none;
  border-radius: 0.6rem;
  margin-top: 3rem;
  width: 95%;
  padding: 0.9rem;
  background: #628699;
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.7s ease;
}
.formContactUs .btnContactUsForm:hover {
  background: white;
  color: #628699;
}

.headStore {
  background: #0487D9;
}

.logo {
  flex: 1 1 20rem;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  min-height: 8vh;
  display: flex;
  align-items: center;
  color: white;
}

.navStore {
  width: 80%;
  margin: auto;
  display: flex;
}

.divLogoStore,
.navLinkStore {
  min-height: 8vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 1 1 10rem;
}
.divLogoStore li a,
.navLinkStore li a {
  color: white;
  font-family: "Otomanopee One", sans-serif;
}
.divLogoStore li a:hover,
.navLinkStore li a:hover {
  border-bottom: white 0.2rem solid;
}

.navLinkStore {
  flex: 1 1 60rem;
}

svg {
  fill: white;
}

.secStore {
  width: 80%;
  margin: auto;
}

.divBuscarStore {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
}
.divBuscarStore h3 {
  font-family: "Otomanopee One", sans-serif;
}
.divBuscarStore input {
  margin: 3rem 0rem;
  width: 70rem;
  border-radius: 0.7rem;
  padding: 0.7rem 2rem;
}

.divProductsCards {
  display: flex;
  flex-wrap: wrap;
}

.divCards {
  flex: 1 0 10rem;
  border: #F26513 0.2rem solid;
  padding: 1rem;
  border-radius: 0.8rem;
  margin: 1.5rem;
}
.divCards img {
  width: 100%;
  height: 100%;
}
.divCards .cardContent {
  text-align: center;
}
.divCards .cardContent h1 {
  font-size: 1.6rem;
}
.divCards .cardContent h3 {
  font-size: 2rem;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.divCards .cardContent h4 {
  color: green;
  font-size: 1.5rem;
}
.divCards .cardContent button {
  border: none;
  border-radius: 0.5rem;
  background-color: #568C63;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  width: 10rem;
}
.divCards .cardContent h1,
.divCards .cardContent h3,
.divCards .cardContent h4,
.divCards .cardContent button {
  margin-top: 0.5rem;
}

.newProducts {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divTitle2 {
  margin-top: 4rem;
}

.newProductTitle {
  text-shadow: 0px;
  font-size: 3rem;
  color: black;
}

.formNewProducts {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.divName,
.divPrecio,
.divFile {
  margin: 2rem;
  display: flex;
}

.btnNewProducts {
  margin-top: 2rem;
  border: none;
  background-color: #66bbec;
  width: 60%;
  height: 4rem;
  padding: 0.7rem;
  color: white;
  border-radius: 0.8rem;
}

label, input {
  flex: 1 3 10rem;
}

@media screen and (max-width: 754px) {
  html {
    font-size: 42.4%;
  }

  .intro {
    display: flex;
    justify-content: center;
  }

  .divTitle {
    margin-top: 25%;
    width: 70%;
    text-align: center;
    display: flex;
  }
  .divTitle h1 {
    font-size: 2.8rem;
  }

  .divBurger {
    display: block;
  }

  .nav-links {
    min-height: 92vh;
    width: 65%;
    background-color: #5E1742;
    position: fixed;
    top: 8vh;
    left: 100%;
    display: flex;
    flex-direction: column;
    padding: 10rem 0rem;
    transition: transform 1s ease;
  }

  .nav-open {
    transform: translate(-100%, 0%);
  }

  .toggle .burger1 {
    transform: rotateZ(45deg) translateY(350%);
  }

  .toggle .burger2 {
    opacity: 0;
  }

  .toggle .burger3 {
    transform: rotateZ(-45deg) translateY(-350%);
  }

  .aboutUsText {
    width: 70%;
    padding: 2rem;
  }

  .formContactUs {
    width: 90%;
    margin: auto;
    padding: 2rem;
  }
  .formContactUs input {
    width: 100%;
  }

  .navLinkStore {
    position: fixed;
    min-height: 92vh;
    width: 65%;
    background-color: #0487D9;
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
    top: 8vh;
    left: 100%;
    transition: all 0.5s ease-in;
  }

  #txtBuscarStore {
    width: 70%;
  }

  .divCards {
    flex: 0 1 20rem;
  }

  .divProductsCards {
    display: flex;
    justify-content: center;
  }

  .divBurger {
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .line1,
.line2,
.line3 {
    background-color: white;
    width: 5rem;
    height: 0.6rem;
    margin: 0.5rem;
    transition: all 0.5s ease-in;
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(350%);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-350%);
  }
}/*# sourceMappingURL=style.css.map */